<div class="container">
  <div class="user-details">
    <h3> Welcome! </h3>
    <p>Thanks for visiting my website!</p>
    <p>I am currently a Integrated PhD student in Mathematics, Seoul National University. I am majoring in Cryptography, especially interested in Homomorphic Encryption, Lattice-based Cryptography, and Homomorphic Signatures, but I am broadly interested in other interesting aspects in mathematics.</p>
    <p></p>
  </div>
    
  <span style=" font: bold 5em/3em; ">
    <a href="#particles-js" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
      <img alt="up_arrow_sign" src="/assets/img/up_arrow_sign.png" width="35" height="35"/>
    </a>
  </span>

</div>
