<div class="container">
  <div class="user-details">
    <h3> Welcome! </h3>
    <p>Thanks for visiting my website! I am <font size="+4"><b>Hyeongmin Choe</b></font>, living in <font size="+4"><b>Seoul</b></font>, <font size="+4"><b>Korea</b></font> <img src="https://www.countryflags.io/KR/flat/16.png">.</p>
    <p>I am currently a Integrated <font size="+4"><b>PhD student</b></font> in <font size="+4"><b>Mathematics</b></font> at <font size="+4"><b>Seoul National University</b></font>. I am majoring in <font size="+4"><b>Cryptography</b></font>, especially interested in Homomorphic Encryption, Lattice-based Cryptography, and Homomorphic Signatures, but I am broadly interested in other interesting aspects in mathematics.</p>
    <p>I also hold my <font size="+4"><b>Bachelor's degree</b></font> from the Department of Mathematical Sciences at Seoul National University.</p>
  </div>
    
  <span style=" font: bold 5em/3em; ">
    <a href="#particles-js" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
      <img alt="up_arrow_sign" src="/assets/img/up_arrow_sign.png" width="35" height="35"/>
    </a>
  </span>

</div>
