<div class="container">
  <div class="user-details">
    <h3> Welcome! </h3>
    <p>Thanks for visiting my website!</p>
    <p>I am <font size="+2"><b>Hyeongmin Choe</b></font>, living in Gangnam <img src="http://1.bp.blogspot.com/-Kz_q9j6cQuc/U78NsbcA8JI/AAAAAAAAKSU/MrSZRMXd0vU/s1600/gangnam-style-facebook-emoticon.png" width="22" height="32">, <font size="+2"><b>Seoul, Korea</b></font> <img src="https://www.countryflags.io/KR/flat/32.png">.</p>
    <p>I am currently a Integrated <font size="+2"><b>PhD</b></font> student in <font size="+2"><b>Mathematics</b></font> at <font size="+2"><b>SNU</b></font>. I am majoring in <font size="+2"><b>Cryptography</b></font>, especially interested in Homomorphic Encryptions, Lattice-based Cryptography, and Homomorphic Signatures. However, I am broadly interested in other various aspects in mathematics.</p>
    <p>I also hold my <font size="+2"><b>Bachelor's degree</b></font> from the Department of Mathematical Sciences at Seoul National University.</p>
  </div>
    
  <span style=" font: bold 5em/3em; ">
    <a href="#particles-js" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
      <img alt="up_arrow_sign" src="/assets/img/up_arrow_sign.png" width="35" height="35"/>
    </a>
  </span>

</div>
