<div class="container">
  <div class="user-details">
    <h3> Awards </h3>
  </div>

  <div>
    <h4> Awards </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      <h5> &#9633; IDASH Competition (IDASH'20) </h5>
      <p>- <b>Dec. 2020</b> First Place in Track I, on <font class="abbr" ;
          onclick="this.innerHTML='team SNU(S. Hong, J. H. Park, W. Cho, <b>H. Choe</b>, S. Kim)'">team SNU</font> @<font class="abbr" ;
          onclick="this.innerHTML='National Institute of Health'">NIH</font>.
        <br>- IDASH Privacy & Security Workshop, secure genome analysis competition</font> 
        <br>- Track I: Secure multi-label Tumor classification using Homomorphic Encryption
      </p>
      <h5> &#9633; Final Korean Mathematical Olympiad (FKMO) </h5>
      <p>- <b>Apr. 2012</b> Excellence Award (Top 21) @<font class="abbr" ;
          onclick="this.innerHTML='Korean Mathematical Society'">KMS</font>.</p>
      <h5> &#9633; Korean Mathematical Olympiad (KMO) </h5>
      <p>- <b>Sept. 2011</b> Gold Prize (Top 28) @<font class="abbr" ;
          onclick="this.innerHTML='Korean Mathematical Society'">KMS</font>.
      </p>
    </div>
  </div>

  <div>
    <h4> Scholarships </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      <h5> &#9633; The Presidential Science Scholarship </h5>
      <p>- <b>Mar. 2013–Dec. 2018</b> @<font class="abbr" ; onclick="this.innerHTML='Korea Student Aid Foundation'">KoSAF</font>.
        <br>- Academic Grant: Tuition + $4,000/yr for 4 years
      </p>
    </div>
  </div>

  <span style=" font: bold 5em/3em; ">
    <a onClick="window.location.reload()" style="cursor: pointer; float: right;">
      <img alt="refresh" src="/assets/img/sign_refresh5.png" width="30" height="30" hspace="3">
    </a>
    <a href="#particles-js" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
      <img alt="home" src="/assets/img/sign_home5.png" width="30" height="30" hspace="3">
    </a>
    <a href="#trivia" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
      <img alt="down_arrow" src="/assets/img/sign_arrow_down5.png" width="30" height="30" hspace="3">
    </a>
    <a href="#publications" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
      <img alt="up_arrow" src="/assets/img/sign_arrow_up5.png" width="30" height="30" hspace="3">
    </a>
  </span>

</div>
