<div class="container">
  <div class="user-details">
    <h3> Awards </h3>
  </div>

  <div id="div_education">
    <h4> Awards </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      <h5> Final Korean Mathematical Olympiad (FKMO) </h5>
      <p>- <b>2012.</b> Excellence Award (Top 21) @<font size="+0" style="cursor:pointer"; onclick="this.innerHTML='Korean Mathematical Society'"><u>KMS</u></font></p>. 
      <h5> Korean Mathematical Olympiad (KMO) </h5>
      <p>- <b>2011.</b> Gold Prize (Top 28) @<font size="+0" style="cursor:pointer"; onclick="this.innerHTML='Korean Mathematical Society'"><u>KMS</u></font>. 
      </p>
    </div>
  </div>

  <div id="div_education">
    <h4> Scholarships </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      <h5> The Presidential Science Scholarship </h5>
      <p>- <b>2013.-2018.</b> @<font size="+0" style="cursor:pointer"; onclick="this.innerHTML='Korea Student Aid Foundation'"><u>KoSAF</u></font>. 
      <br>- Academic Grant: Tuition + $4,000/yr for 4 years
      </p>
    </div>
  </div>
    
    <span style=" font: bold 5em/3em; ">
      <a href="#particles-js" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
        <img alt="up_arrow_sign" src="/assets/img/up_arrow_sign.png" width="35" height="35"/>
      </a>
    </span>

</div>