<div class="container">
  
    <center>
    <span style=" font: bold 5em/3em; ">
        <a href="#about" data-scroll style="text-decoration: none; color: rgb(42, 126, 221); font-size: 1.4em;">About Me</a>
        &nbsp;&nbsp;&nbsp;
        <a href="#experience" data-scroll style="text-decoration: none; color: rgb(42, 126, 221); font-size: 1.4em;">Experience</a>
        &nbsp;&nbsp;&nbsp;
        <a href="#publications"data-scroll style="text-decoration: none; color: rgb(42, 126, 221); font-size: 1.4em;">Publications</a>
        &nbsp;&nbsp;&nbsp;
        <a href="#awards"data-scroll style="text-decoration: none; color: rgb(42, 126, 221); font-size: 1.4em;">Awards</a>
    </span> 
    </center>

    <div class="user-details">
        <h3> Experience </h3> 
    </div>
</div>
