<div class="container">
  <div class="user-details">
    <h3> Experience </h3>
  </div>
  
  <div>
    <h4> Education </h4>
  </div>

  <div class="row user-projects">
      <div class="three columns images">
          <img alt="snu_logo" src="/assets/img/SNU_LOGO.png" width="150" height="150" hspace="100"/>
      </div>
      <div class="nine columns">
          <h5> Seoul National University </h5>
          <ul>
              <li><font size="+1">2019.09. - Present</font></li>
              <li>Graduate course in the Department of Mathematical Sciences</li>
              <li>MS & PH.D combined candidate, advised by Prof. <A href = "http://www.math.snu.ac.kr/~jhcheon/xe2/" >Jung Hee Cheon</A> from 2020.02. </li> 
          </ul>
          <h5> Seoul National University </h5>
          <ul>
              <li><font size="+1">2013.03. - 2019.08.</font></li>
              <li>Undergraduate course in the Department of Mathematical Sciences</li>
              <li>2015.07. - 2017.07. Militery Service in ROK Air Force</li>
          </ul>
      </div>
  </div>

  <div class="row user-projects">
      <div class="three columns images">
          <img alt="sshs_logo" src="/assets/img/SSHS_LOGO2.gif" width="150" height="150" hspace="100"/>
      </div>
      <div class="nine columns">
          <h5> Seoul Science High School </h5>
          <ul>
              <li><font size="+1">2010.03. - 2013.02.</font></li>
              <li>SSHS 22nd</li>
          </ul>
      </div>
  </div>

  <div>
    <h4> Research </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
          <h5> Undergrautae Research Internship </h5>
          <ul>
              <li><font size="+1">2019.</font> at SNU. 
                <br>Advised by Prof. <A href = "https://www.math.snu.ac.kr/~syha/" >Seung Yeal Ha</A>
                <br>Stochastic Representations of the Hyperbolic PDEs. 
              </li>
              <li><font size="+1">2018. - 2019.</font> at Sejong Univ. 
                <br>Advised by Prof. <A href = "http://home.sejong.ac.kr/~jsshin/" >Ji Sun Shin</A>
                <br>Homomorphic Signature Schemes, Threshold Cryptosystems. 
              </li>
              <li><font size="+1">2018. - 2019.</font> at SNU. 
                <br>Advised by Prof. <A href = "http://www.math.snu.ac.kr/~jhcheon/xe2/" >Jung Hee Cheon</A>
                <br>Lattice-based Cryptography, and Operations in Homomorphic Encryption, C++. 
                <ul>
                  <li>
                    <I> Faster Linear Transformations in HElib, revisited.</I> IEEE Access. 2019.
                    <br> J. H. Cheon, H. Choe, D. Lee, and Y. Son. 
                  </li>
                </ul>
              </li>
              <li>
                <font size="+1">2017.</font> at SNU
                <br>Advised by Prof. <A href = "http://ncia.snu.ac.kr/xe/" >Myungjoo Kang</A>
                <br>Machine Learning, Image Processing, MATLAB, Python. 
              </li>
          </ul>
    </div>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
      <div class="nine columns">
          <h5> Highschool Research </h5>
          <ul>
            <li><font size="+1">2010. - 2011.</font> at SSHS. 
              <br>With <A href = "https://www.researchgate.net/profile/Siyul_Lee" >Siyul Lee</A>
              <br>Newton-like Iteratice Methods, Python, Mathematica. 
              <ul>
                <li>
                  <I> On Fourth-order Iterative Methods for Multiple Roots of Nonlinear Equations with High Efficiency. </I> JoCAAA. 2015.
                  <br> S. Lee, and H. Choe. 
                </li>
                <li>
                  <I> Multiplicational Combinations and A General Scheme of Single-step Iterative Methods for Multiple Roots.</I> JoCAAA. 2013.
                  <br> S. Lee, and H. Choe. 
                </li>
              </ul>
            </li>
          </ul>
      </div>
  </div>
</div>