    <div class="container">
        <div class="user-details">
          <h3> Experience </h3>
        </div>

        <div>
          <h4> Education </h4>
        </div>

        <div class="row user-projects">
            <div class="six columns images">
                <img alt="snu_logo" src="/assets/img/SNU_LOGO.png" width="200" height="200" hspace="50"/>
            </div>
            <div class="six columns">
                <h5> Seoul National University </h5>
                <ul>
                    <li>2019.09. - Present</li>
                    <li>Graduate course in the Department of Mathematical Sciences</li>
                    <li>MS & PH.D combined candidate advised by Prof. <A href = "http://www.math.snu.ac.kr/~jhcheon/xe2/" >Jung Hee Cheon</A></li>
                </ul>
                <h5> Seoul National University </h5>
                <ul>
                    <li>2013.03. - 2019.08.</li>
                    <li>Undergraduate course in the Department of Mathematical Sciences</li>
                    <li>various Undergrautae Research Internship Programs</li>
                    <li>2015.07. - 2017.07. Militery Service in ROK Air Force as a Surgeant</li>
                </ul>
            </div>
        </div>

        <div class="row user-projects">
            <div class="six columns images">
                <img alt="sshs_logo" src="/assets/img/SSHS_LOGO.gif" width="200" height="200" hspace="50"/>
            </div>
            <div class="six columns">
                <h5> Seoul Science High School </h5>
                <ul>
                    <li>2010.03. - 2013.02.</li>
                    <li>SSHS 22nd</li>
                    <li>Highschool Research Programs</li>
                </ul>
            </div>
        </div>

    </div>

        <div>
          <h4> Research </h4>
        </div>

        <div class="row user-projects">
            <div class="six columns images">
            </div>
            <div class="six columns">
                <h5> Undergrautae Research Internship Programs </h5>
                <ul>
                    <li>2019. Advised by Prof. <A href = "https://www.math.snu.ac.kr/~syha/" >Seung Yeal Ha</A>. 
                      <br>Stochastic Representations of the Hyperbolic PDEs. SNU. </li>
                    <li>2018. - 2019. Advised by Prof. <A href = "http://home.sejong.ac.kr/~jsshin/" >Ji Sun Shin</A>. 
                      <br>Homomorphic Signature Schemes, Threshold Cryptosystems. Sejong University. </li>
                    <li>2018. - 2019. Advised by Prof. <A href = "http://www.math.snu.ac.kr/~jhcheon/xe2/" >Jung Hee Cheon</A>. 
                      <br>Lattice-based Cryptography, and Operations in Homomorphic Encryption, C++. SNU. 
                      <p><I> "Faster Linear Transformations in HElib, revisited." IEEE Access. 2019. </I></p></li>
                    <li>2017. Advised by Prof. <A href = "http://ncia.snu.ac.kr/xe/" >Myungjoo Kang</A>. Machine Learning, Image Processing, MATLAB, Python. SNU. </li>
                </ul>
            </div>
        </div>

        <div class="row user-projects">
            <div class="six columns images">
            </div>
            <div class="six columns">
                <h5> Highschool Research Programs </h5>
                <ul>
                  <li>2010. - 2011. with classmate <A href = "https://www.researchgate.net/profile/Siyul_Lee" >Siyul Lee</A>. 
                    <br> Stochastic Representations of the Hyperbolic PDEs</li>
                    
                </ul>
            </div>
        </div>
