<div class="container">
  <div class="user-details">
    <h3> Experience </h3>
  </div>
  <center>
    <span style=" font: bold 5em/3em; ">
      <a href="#div_education" data-scroll style="text-decoration: none; color: rgb(42, 126, 221); font-size: 1.4em;">Education</a>
      &nbsp;&nbsp;&nbsp;
      <a href="#div_programs" data-scroll style="text-decoration: none; color: rgb(42, 126, 221); font-size: 1.4em;">Programs</a>
      &nbsp;&nbsp;&nbsp;
      <a href="#div_teaching"data-scroll style="text-decoration: none; color: rgb(42, 126, 221); font-size: 1.4em;">Teaching</a>
    </span>
  </center>

  <div id="div_education">
    <h4> Education </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
      <img alt="snu_logo" src="/assets/img/SNU_LOGO.png" width="150" height="150" hspace="100" />
    </div>
    <div class="nine columns">
      <h5> Seoul National University </h5>
      <ul>
        <li>
          2019.09.-Present
        </li>
        <li>Graduate course in the Department of Mathematical Sciences</li>
        <li>MS & PH.D combined candidate, advised by Prof. <A href="http://www.math.snu.ac.kr/~jhcheon/xe2/">Jung Hee
            Cheon</A> from 2020.02. </li>
      </ul>
      <h5> Seoul National University </h5>
      <ul>
        <li>
          2013.03.-2019.08.
        </li>
        <li>Undergraduate course in the Department of Mathematical Sciences</li>
        <li>2015.07.-2017.07. Militery Service in ROK Air Force</li>
      </ul>
    </div>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
      <img alt="sshs_logo" src="/assets/img/SSHS_LOGO2.gif" width="150" height="150" hspace="100" />
    </div>
    <div class="nine columns">
      <h5> Seoul Science High School </h5>
      <ul>
        <li>
          2010.03.-2013.02.
        </li>
        <li>SSHS 22nd</li>
      </ul>
    </div>
  </div>

  <div id="div_programs">
    <h4> Programs </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      <h5> Undergrautae Research Internship </h5>
      <ul>
        <li>
          <font size="+1">2019.</font> @SNU. Advised by Prof. <A href="https://www.math.snu.ac.kr/~syha/">Seung Yeal Ha</A>
          <br>Stochastic Representations of the Hyperbolic PDEs.
        </li>
        <li>
          <font size="+1">2018.-2019.</font> @Sejong Univ. Advised by Prof. <A href="http://home.sejong.ac.kr/~jsshin/">Ji Sun Shin</A>
          <br>Homomorphic Signature Schemes, Threshold Cryptosystems.
        </li>
        <li>
          <font size="+1">2018.-2019.</font> @SNU. Advised by Prof. <A href="http://www.math.snu.ac.kr/~jhcheon/xe2/">Jung Hee Cheon</A>
          <br>Lattice-based Cryptography, and Operations in Homomorphic Encryption, C++.
          <br><a href="#papers" data-scroll style="text-decoration: none; color: rgb(42, 126, 221);">published paper</a>
          <!-- <ul>
            <li>
              <I> Faster Linear Transformations in HElib, revisited.</I> IEEE Access. 2019.
              <br> J. H. Cheon, H. Choe, D. Lee, and Y. Son. 
            </li>
          </ul> -->
        </li>
        <li>
          <font size="+1">2017.</font> @SNU. Advised by Prof. <A href="http://ncia.snu.ac.kr/xe/">Myungjoo Kang</A>
          <br>Machine Learning, Image Processing, MATLAB, Python.
        </li>
      </ul>
    </div>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      <h5> Summer/Winter Schools and Club Activities</h5>
      <ul>
        <li><font size="+1">2019.</font> Winter School for Geometry @KIAS. </li>
        <li><font size="+1">2019.</font> Summer School for Mathematical Modeling in Life and Medical Sciences @NIMS.
        <li><font size="+1">2018.</font> Summer School on Cryptography @NIMS</li>
        <li><font size="+1">2018.-2019.</font> SNU Academic Club "SNUCRYPTO"
          <ul>
            <li>seminars and group studies on cryptography</li>
            <li>vice president in 2019.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      <h5> Highschool Research Project</h5>
      <ul>
        <li>
          <font size="+1">2011.-2012.</font> @SSHS.
          <br>With <A href="https://www.researchgate.net/profile/Siyul_Lee">Siyul Lee</A>
          <br>Newton-like Iteratice Methods, Python, Mathematica.
          <br><a href="#papers" data-scroll style="text-decoration: none; color: rgb(42, 126, 221);">published papers</a>
          <!-- <ul>
            <li>
              <I> On Fourth-order Iterative Methods for Multiple Roots of Nonlinear Equations with High Efficiency. </I>
              JoCAAA. 2015.
              <br> S. Lee, and H. Choe.
            </li>
            <li>
              <I> Multiplicational Combinations and A General Scheme of Single-step Iterative Methods for Multiple
                Roots.</I> JoCAAA. 2013.
              <br> S. Lee, and H. Choe.
            </li>
          </ul> -->
        </li>
      </ul>
    </div>
  </div>

  <div id="div_teaching">
    <h4> Teaching </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      <h5> Teaching Assistant</h5>
      <ul>
        <li>
          <font size="+1">2020.</font> Calculus Practice<span>&#8544;</span>. @SNU
        </li>
        <li>
          <font size="+1">2013.-2014.</font> Korean Mathematical Olympiad (KMO) Winter/Summer School @KMS
          <ul>
            <li>Select/solve problems for gifted students accepted in KMO Winter/Summer School</li>
            <li>2013 winter/summer, 2014 winter/summer</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>