<footer class="footer">
    <p>&copy; {{ site.time | date: '%Y' }} {{site.username}}
    <a aria-label="Send email" href="mailto:{{site.email}}">{{ site.email }}</a></p>

    <!-- hitwebcounter Code START -->
    <!-- <a href="https://www.hitwebcounter.com" target="_blank">
      <img src="https://hitwebcounter.com/counter/counter.php?page=7537914&style=0024&nbdigits=5&type=ip&initCount=0" title="Web Counter" Alt="counter free"   border="0" >
    </a>   -->
    <!-- <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/715342/t/1"></script>    -->
    <p>Thanks to <a href="https://github.com/chase1745/chase1745.github.io">Chase1745</a> for the theme!</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
