<div class="container">
  <div class="user-details">
    <h3> Publications </h3>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      <h5> Papers </h5>
      <ol>
        <li>
          <p style="font-weight: bold;">Faster Linear Transformations in HElib, revisited.</p>
          <p>J. H. Cheon, H. Choe, D. Lee, and Y. Son. </p>
          <p> @IEEE Access. 2019. </p>
        </li>
        <li>
          <p style="font-weight: bold;">On Fourth-order Iterative Methods for Multiple Roots of Nonlinear Equations with High Efficiency.</p>
          <p>S. Lee, and H. Choe. </p>
          <p> @JoCAAA. 2015. </p>
        </li>
        <li>
          <p style="font-weight: bold;">Multiplicational Combinations and A General Scheme of Single-step Iterative Methods for Multiple Roots.</p>
          <p>S. Lee, and H. Choe. </p>
          <p> @JoCAAA. 2013. </p>
        </li>
      </ol>
      
    </div>
  </div>
</div>
