<div class="container">
  <div class="user-details">
    <h3> Publications </h3>
  </div>
  Authors are listed in alphabetical order by last name, unless an asterisk(*) is indicated.
  <div>
    <h4> Papers </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      <h5 id="id_pub3"> 3. Faster Linear Transformations in HElib, revisited. </h5>
      <p>J. H. Cheon, H. Choe, D. Lee, and Y. Son. @IEEE Access. 2019. </p>

      <h5 id="id_pub2"> 2. On Fourth-order Iterative Methods for Multiple Roots of Nonlinear Equations with High Efficiency.</h5>
      <p>S. Lee and H. Choe. @<font size="+0" style="cursor:pointer"; onclick="this.innerHTML='Journal of Computational Analysis and Applications'"><u>JoCAAA</u></font>. 2015. </p>
      
      <h5 id="id_pub1"> 1. Multiplicational Combinations and A General Scheme of Single-step Iterative Methods for Multiple Roots.</h5>
      <p>S. Lee and H. Choe. @<font size="+0" style="cursor:pointer"; onclick="this.innerHTML='Journal of Computational Analysis and Applications'"><u>JoCAAA</u></font>. 2013. </p>
      
    </div>
  </div>
    
  <span style=" font: bold 5em/3em; ">
    <a href="#particles-js" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
      <img alt="up_arrow_sign" src="/assets/img/up_arrow_sign.png" width="35" height="35"/>
    </a>
  </span>

</div>
