<div class="container">
  <div class="user-details">
    <h3> Trivia </h3>
  </div>

  <div>
    <h4> Summer/Winter Schools </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      I am interested in various topics in Mathematcis, and signed up to some Summer/Winter Schools.
      <ul>
        <li>
          <b>2019</b> <i>Winter School for Geometry</i> @<font class="abbr" ;
            onclick="this.innerHTML='Korea Institute for Advanced Study'">KIAS</font>.
        </li>
        <li>
          <b>2019</b> <i>Summer School for Mathematical Modeling in Life and Medical Sciences</i> @<font class="abbr" ;
            onclick="this.innerHTML='National Institute for Mathematical Sciences'">NIMS</font>.
        </li>
        <li>
          <b>2018</b> <i>Summer School on Cryptography</i> @<font class="abbr" ;
            onclick="this.innerHTML='National Institute for Mathematical Sciences'">NIMS</font>.
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h4> SNU/SSHS Clubs </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      Here are some Clubs I was involved in.
      <ul>
        <li>
          <!-- <b>2018–2019</b>  -->
          SNU Academic Club <i>"SNUCRYPTO"</i>
          <br>- Seminars and group studies on cryptography
          <br>- Vice president in <b>2019</b>
          <br>- <a href="https://www.boannews.com/media/view.asp?idx=79884">News Link</a>
        </li>
        <li>
          <!-- <li><b>2014</b> -->
          SNU Cocktail and Beverage Club <i>"Hurim"</i>
          <br>- Enjoy cocktail &#127864;
        </li>
        <li>
          <!-- <li><b>2010–2012</b> -->
          SSHS Korean Folk Music Club <i>"Urisori"</i>
          <br>- Urisori stands for "Our Sound." Urisori performs <a
            href="https://en.wikipedia.org/wiki/Samul_nori">Samul-nori</a>.
          <br>- Lead Jang-gu in <b>2011</b>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h4> Programming Languages </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">

      <ul>
        <li>Familiar with <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span>, MATLAB, Python. </li>
        <li>Tempting to learn more about HTML, C++. </li>
      </ul>
    </div>
  </div>

  <div>
    <h4> Favorites </h4>
  </div>

  <div class="row user-projects">
    <div class="three columns images">
    </div>
    <div class="nine columns">
      <p>
      <h5>I love skiing and snowboarding.</h5>
      I started skiing for the first time when I was seven. Since then, I've enjoyed skiing every winter. For
      snowboarding, I am enjoying it from when I was thirteen.
      </p>
      <p>
      <h5>I also enjoy table tennis and jogging.</h5>
      </p>
      <p>
      <h5>I love traveling.</h5>
      <!-- https://www.countryflags.io/#body -->
      I like traveling abroad and going to places I haven't been to.
      I've been to:
      <div style="overflow-x:auto;">
        <table border="0">
          <tr>
            <td> &nbsp; Thailand &nbsp; </td>
            <td> &nbsp; <img src="https://www.countryflags.io/TH/flat/24.png"> &nbsp;&nbsp;&nbsp; </td>
            <td> &nbsp; USA &nbsp; </td>
            <td> &nbsp; <img src="https://www.countryflags.io/US/flat/24.png"> &nbsp;&nbsp;&nbsp; </td>
            <td> &nbsp; Indonesia(Bali) &nbsp; </td>
            <td> &nbsp; <img src="https://www.countryflags.io/ID/flat/24.png"> &nbsp;&nbsp;&nbsp; </td>
            <td> &nbsp; Turkey &nbsp; </td>
            <td> &nbsp; <img src="https://www.countryflags.io/TR/flat/24.png"> &nbsp;&nbsp;&nbsp; </td>
          </tr>
          <tr>
            <td> &nbsp; Italy &nbsp; </td>
            <td> &nbsp; <img src="https://www.countryflags.io/IT/flat/24.png"> &nbsp;&nbsp;&nbsp; </td>
            <td> &nbsp; Switzerland &nbsp; </td>
            <td> &nbsp; <img src="https://www.countryflags.io/CH/flat/24.png"> &nbsp;&nbsp;&nbsp; </td>
            <td> &nbsp; Germany &nbsp; </td>
            <td> &nbsp; <img src="https://www.countryflags.io/DE/flat/24.png"> &nbsp;&nbsp;&nbsp; </td>
            <td> &nbsp; France &nbsp; </td>
            <td> &nbsp; <img src="https://www.countryflags.io/FR/flat/24.png"> &nbsp;&nbsp;&nbsp; </td>
          </tr>
          <tr>
            <td> &nbsp; Japan &nbsp; </td>
            <td> &nbsp; <img src="https://www.countryflags.io/JP/flat/24.png"> &nbsp;&nbsp;&nbsp; </td>
            <td> &nbsp; Spain &nbsp; </td>
            <td> &nbsp; <img src="https://www.countryflags.io/ES/flat/24.png"> &nbsp;&nbsp;&nbsp; </td>
          </tr>
        </table>
      </div>
      <!-- <br>- Thailand <img src="https://www.countryflags.io/TH/flat/24.png">
      <br>- USA <img src="https://www.countryflags.io/US/flat/24.png">
      <br>- Indonesia(Bali) <img src="https://www.countryflags.io/ID/flat/24.png">
      <br>- Turkey <img src="https://www.countryflags.io/TR/flat/24.png">
      <br>- Italy <img src="https://www.countryflags.io/IT/flat/24.png">
      <br>- Switzerland <img src="https://www.countryflags.io/CH/flat/24.png">
      <br>- Germany <img src="https://www.countryflags.io/DE/flat/24.png">
      <br>- France <img src="https://www.countryflags.io/FR/flat/24.png">
      <br>- Japan <img src="https://www.countryflags.io/JP/flat/24.png">
      <br>- Spain <img src="https://www.countryflags.io/ES/flat/24.png"> -->
      <br>Except USA, I had just short trips. I look forward to traveling them again. &#128516;
      <br>One of my dream is to live abroad for a month in Seville in Spain <img
        src="https://www.countryflags.io/ES/flat/24.png"> or Valais in Switzerland <img
        src="https://www.countryflags.io/CH/flat/24.png">.
      </p>
    </div>
  </div>

  <span style=" font: bold 5em/3em; ">
    <a onClick="window.location.reload()" style="cursor: pointer; float: right;">
      <img alt="refresh" src="/assets/img/sign_refresh5.png" width="30" height="30" hspace="3">
    </a>
    <a href="#particles-js" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
      <img alt="home" src="/assets/img/sign_home5.png" width="30" height="30" hspace="3">
    </a>
    <a data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
      <img alt="down_arrow" src="/assets/img/sign_arrow_down5.png" width="30" height="30" hspace="3">
    </a>
    <a href="#awards" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
      <img alt="up_arrow" src="/assets/img/sign_arrow_up5.png" width="30" height="30" hspace="3">
    </a>
  </span>
</div>