<div class="container">
    <div class="user-details">
      <h3> Trivia </h3>
    </div>
  
    <div id="div_education">
      <h4> Broad interests </h4>
    </div>
  
    <div class="row user-projects">
      <div class="three columns images">
      </div>
      <div class="nine columns">
        <h5> Summer/Winter Schools and Academic Activities</h5>
        I am interested in various topics in Mathematcis, and signed up for some Summer/Winter Schools. 
          <ul>
          <li><font size="+1">2019.</font> Winter School for Geometry @KIAS. </li>
          <li><font size="+1">2019.</font> Summer School for Mathematical Modeling in Life and Medical Sciences @NIMS. </li>
          <li><font size="+1">2018.</font> Summer School on Cryptography @NIMS. </li>
      </ul>
        <h5> SNU/SSHS Clubs </h5>
        Here are some SNU/SSHS Clubs I was involved in. 
        <ul>
          <li> 
            <!-- <font size="+1">2018.-2019.</font>  -->
            SNU Academic Club <i>"SNUCRYPTO"</i>
            <br>Seminars and group studies on cryptography
            <br>Vice president in 2019.
          </li>
          <li>
            <!-- <li><font size="+1">2014.</font> -->
            SNU Cocktail and Beverage Club <i>"Hurim"</i>
            <br>🍸
          </li>
          <li>
            <!-- <li><font size="+1">2010.-2012.</font> -->
            SSHS Korean Folk Music Club <i>"Urisori"</i>
            <br>Urisori stands for "Our Sound." Urisori performs <a href="https://en.wikipedia.org/wiki/Samul_nori">Samul nori</a>. 
            <br>Lead Jang-gu in 2011. 
          </li>
          
        </ul>
      </div>
    </div>
    
    <span style=" font: bold 5em/3em; ">
      <a href="#particles-js" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
        <img alt="up_arrow_sign" src="/assets/img/up_arrow_sign.png" width="35" height="35"/>
      </a>
    </span>
  
  </div>