<div class="container">
    <div class="user-details">
      <h3> Trivia </h3>
    </div>
  
    <div class="row user-projects">
      <div class="three columns images">
      </div>
      <div class="nine columns">

        <h5> Summer/Winter Schools and Academic Activities </h5>
        I am interested in various topics in Mathematcis, and signed up for some Summer/Winter Schools. 
          <ul>
          <li><font size="+1">2019.</font> Winter School for Geometry @KIAS. </li>
          <li><font size="+1">2019.</font> Summer School for Mathematical Modeling in Life and Medical Sciences @NIMS. </li>
          <li><font size="+1">2018.</font> Summer School on Cryptography @NIMS. </li>
          </ul>

        <h5> SNU/SSHS Clubs </h5>
        Here are some Clubs I was involved in. 
        <ul>
          <li> 
            <!-- <font size="+1">2018.-2019.</font>  -->
            SNU Academic Club <i>"SNUCRYPTO"</i>
            <br>Seminars and group studies on cryptography
            <br>Vice president in 2019.
          </li>
          <li>
            <!-- <li><font size="+1">2014.</font> -->
            SNU Cocktail and Beverage Club <i>"Hurim"</i>
            <br>Enjoys cocktail &#127864;
          </li>
          <li>
            <!-- <li><font size="+1">2010.-2012.</font> -->
            SSHS Korean Folk Music Club <i>"Urisori"</i>
            <br>Urisori stands for "Our Sound." Urisori performs <a href="https://en.wikipedia.org/wiki/Samul_nori">Samul nori</a>. 
            <br>Lead Jang-gu in 2011. 
          </li>
        </ul>

        <h5> Favorites </h5>
        <ul>
          <li>I love skiing and snowboarding.
            <br>I started skiing for the first time when I was seven. Since then, I've enjoyed skiing every winter. For snowboarding, I am enjoying it from when I was thirteen. 
          </li>
          <li>I also enjoys table tennis and jogging. </li>
          <li>I love traveling. 
            <br>I like traveling abroad and going to places I haven't been to. 
            I've been to Thailand <script>flag.selectByAlpha2("pt");</script>
            , USA, Indonesia(Bali), Terkey, Italy, Swiss, Germany, France, Japan, Spain, but except USA, they were just short trips. I want to visit them again. &#128516;
            <br>One of my dream is to live abroad for a month in Seville, Spain and Valais, Swiss.
          </li>
        </ul>

      </div>
    </div>
    
    <span style=" font: bold 5em/3em; ">
      <a href="#particles-js" data-scroll style="text-decoration: none; color: black; font-size: 1.4em; float: right;">
        <img alt="up_arrow_sign" src="/assets/img/up_arrow_sign.png" width="35" height="35"/>
      </a>
    </span>
  
    <script>
      const parentElement = document.getElementById("my-parent-element");
      const flag = new CountryFlag(parentElement);
    </script>
  </div>