<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <hr>
      <section id="experience">
        {% include experience.html %}
      </section>
      <hr>
      <section id="papers">
        {% include papers.html %}
      </section>
      <hr>
      <section id="awards">
        {% include awards.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
